#samplr#REDIS_HOST=redis
REDIS_HOST=redis
#samplr#NO_SSL=True
NO_SSL=True
#samplr#MATOMO_URL=https://track.example.com/
MATOMO_URL=https://track.example.com/
#samplr#MATOMO_SITE_ID=0
MATOMO_SITE_ID=0
